extends ./base
block styles
  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
  link(rel='stylesheet', type='text/css', href='./styles/css/index.css')
block content
  body.cd-about(unselectable='on')
    main
      div.cd-index.cd-main-content
        div
          a.cd-btn(href="index.html" data-type="page-transition")  &#8592; Go back
          //- div#cy(style="text-align: left;")
          h1 Select Your Gender
          section.gender
            i.male.animated.bounceInLeft
            i.female.animated.bounceInRight
    div.cd-cover-layer
    div.cd-loading-bar
  block scripts
    script(src='./libs/jquery.min.js')
    script(src='./scripts/js/transform.js')
    script(src='./scripts/js/about.js')
      //- script(src='./libs/cytoscape.js')
