extends ./base
block styles
  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
  link(rel='stylesheet', type='text/css', href='./styles/css/index.css')
block content
  body(unselectable='on')
    main
      div.cd-index.cd-main-content
        div
          h1  Our Survey
          a.cd-btn(href="about.html" data-type="page-transition")  Start Now
    div.cd-cover-layer
    div.cd-loading-bar
  block scripts
    script(src='./libs/jquery.min.js')
    script(src='./scripts/js/transform.js')
    //- script(src='./libs/cytoscape.js')

